<div class="youtube-consent__dialog">
    <div class="youtube-consent__content">
        <svg class="youtube-consent__icon" width="48" height="48" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"
                fill="currentColor" />
        </svg>
        <h3 class="youtube-consent__title">YouTube Video laden?</h3>
        <p class="youtube-consent__text">
            Durch das Laden des Videos akzeptieren Sie die Datenschutzbestimmungen von YouTube.
            Es wird eine Verbindung zu YouTube hergestellt und Daten können übertragen werden.
        </p>
        <p class="youtube-consent__privacy">
            Mehr Informationen finden Sie in unserer
            <a href="/datenschutz.html#youtube" target="_blank">Datenschutzerklärung</a>.
        </p>
        <div class="youtube-consent__actions">
            <button class="youtube-consent__button youtube-consent__button--cancel">
                Abbrechen
            </button>
            <button class="youtube-consent__button youtube-consent__button--accept">
                Video laden
            </button>
        </div>
    </div>
</div>